<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="view.js"></script>
    <title>Title</title>
</head>
<body ng-app="pro">
<div>
<div><img src="comp.png" height="50" width="50"> <span> Products Free</span></div>
<div>
    <br>
    <br>
<table>
    <tr><td><a ng-href="#/Mobile">Mobile</a></td><td><a ng-href="#/Tablet">Tablet</a><td><a ng-href="#/Clothes">Clothes</a></td></tr>
</table>
</div>
</div>
<div>
    <ng-view></ng-view>
</div>
<div>
    <label>Product of the year</label><input type="text" name="pro1">
</div>
</body>
</html>